/*
$white: white;
$black: #222222;
$grey: #929191;
http://www.colourlovers.com/palette/482774/dream_magnet?widths=0
$grey: #343838;
$blue4: #005F6B;
$blue3: #008C9E;
$blue2: #00B4CC;
$blue1: #00DFFC;
*/

body {
    font-family: 'Quicksand', sans-serif;
    margin-top: 65px;
}

/* Hyperlinks */
a, a:focus {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}
